---

---

<div class="bg-white rounded-lg p-8">
  <h2 class="text-4xl font-bold mb-8 text-center">Свяжись со мной</h2>
  <form class="flex flex-col gap-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <input 
        type="email" 
        placeholder="Email" 
        class="bg-white border border-gray-200 rounded-lg px-4 py-3 focus:outline-none focus:border-gray-300"
        required
      />
      <input 
        type="text" 
        placeholder="Имя" 
        class="bg-white border border-gray-200 rounded-lg px-4 py-3 focus:outline-none focus:border-gray-300"
        required
      />
    </div>

    <textarea 
      placeholder="Сообщение" 
      rows="4" 
      class="bg-white border border-gray-200 rounded-lg px-4 py-3 focus:outline-none focus:border-gray-300"
      required
    ></textarea>

    <button 
      type="submit" 
      class="mt-4 mx-auto px-8 py-3 text-white rounded-4xl border border-solid bg-yona hover:border-yona hover:bg-white hover:text-yona transition-colors duration-300"
    >
      Связаться
    </button>
  </form>
</div>