@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


@theme {
    --color-yona: #EF4444;
}

html,
body {
	@apply px-4 m-0 w-full h-full;
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
	}

.container {
    @apply container mx-auto;
}