---
import AboutCard from "./components/AboutCard.astro";
---

<section class="container mt-30">
  <h2 class="text-4xl font-bold mb-8 text-center md:text-left">А тут другие прикольные карточки</h2>
    <div class="grid grid-cols-1 md:grid-cols-6 gap-8">
      <div class="md:col-span-3">
        <AboutCard title="Первая карточка" description="CSS — это язык описания внешнего вида документа, то есть он отвечает за то, как выглядят веб-страницы: цвет фона и декоративных элементов, размер и стиль шрифтов. Термин расшифровывается как Cascading Style Sheets (каскадные таблицы стилей). CSS взаимодействует с другим языком разметки — HTML, который отвечает за размещение элементов на странице." />
      </div>
      <div class="md:col-span-2">
        <AboutCard title="Вторая карточка" description="HTML — язык разметки для создания структуры веб-страницы и представления контента. Благодаря разметке браузер знает в каком порядке отображать элементы, и что они значат. Чаще всего работает в связке в CSS" />
      </div>
      <div class="md:col-span-1 md:row-span-2">
        <AboutCard title="Третья карточка" description="React -  это JavaScript-библиотека для создания пользовательских интерфейсов. Обратите внимание, что это именно библиотека, а не фреймворк. " />
      </div>
      <div class="md:col-span-2">
        <AboutCard title="Четвертая карточка" description="JavaScript – это язык программирования, который используют разработчики для создания интерактивных веб-страниц. Функции JavaScript могут улучшить удобство взаимодействия пользователя с веб-сайтом." />
      </div>
      <div class="md:col-span-3">
        <AboutCard title="Пятая карточка" description="TypeScript — это строго типизированный язык программирования, построенный на JavaScript. Разработчики добавили в него дополнительные возможности, такие как статическая типизация, классы и модули, чтобы создавать более надежные и поддерживаемые программы." />
      </div>
    </div>
</section>