---
const { title, description, buttonText } = Astro.props;
---

<div class="mx-auto relative">
  <div class="max-md:mb-5" id="cards">
    <div class="bg-white rounded-2xl shadow-lg p-6">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <div class="ml-4">
            <h3 class="text-4xl font-bold mb-2">{title}</h3>
            <p class="text-gray-400 mb-2">
                {description}
            </p>
            <button class="px-6 py-2 text-white border rounded-4xl bg-yona hover:border-yona hover:bg-white hover:text-yona transition-colors duration-300">
                {buttonText}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
