---
const { title, description, buttonText } = Astro.props;
---

<div class="relative">
  <div class="max-md:mb-5">
    <div class="bg-white rounded-2xl shadow-lg p-4">
      <div class="flex items-center justify-between">
          <div class="ml-4">
            <h3 class="text-4xl font-bold mb-2">{title}</h3>
            <p class="text-gray-700 mb-2" set:html={description}>
            
            </p>
            <button class="mb-4 px-6 py-3 mt-8 text-white border rounded-4xl bg-yona hover:border-yona hover:bg-white hover:text-yona transition-colors duration-300">
                {buttonText}
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
