---
import { Image } from 'astro:assets';
import character from '../assets/character.png';

---
<div class="container px-4 mx-auto relative h-[434px] rounded-2xl overflow-hidden mt-8">
    <div class="absolute inset-0 bg-[url(../assets/hero-bg.png)] bg-cover bg-no-repeat blur-lg "></div>
    
    <div class="relative h-full px-8 py-6 flex items-center justify-between">
      <div class="space-y-4">
        <h1 class="text-6xl font-bold text-white">Привет!</h1>
        <p class="text-lg text-gray-200 max-w-md">
          На этом макете ты будешь тренироваться верстке на HTML & CSS
        </p>
        <button class="px-6 py-2 text-white rounded-4xl bg-yona hover:border-yona hover:bg-white hover:text-yona transition-colors duration-300">
          Связаться
        </button>
      </div>
  
      <div class="relative h-full flex items-end">
        <div class="absolute -right-4 w-[413px] h-[138px] bg-yona rounded-full"></div>
        <Image class="relative object-contain left-4 w-[413px] h-[350px]" src={character} alt="Character" />
      </div>
    </div>
  </div>