---
import Card from "./components/Card.astro";
---

<section class="container md:flex gap-8 mt-8">
  <Card title="Первая карточка" description="На этой карточке должен быть какой-то осмысленный текст, но я его не придумал. <br />Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum." buttonText="Просто кнопка" />
  <Card title="Вторая карточка" description="На этой карточке должен быть какой-то осмысленный текст, но я его не придумал. <br />Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum." buttonText="Просто кнопка" />
  <Card title="Третья карточка" description="На этой карточке должен быть какой-то осмысленный текст, но я его не придумал. <br />Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum." buttonText="Просто кнопка" />
</section>

